.companyImage {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin: 0 2rem 2rem 2rem;
  border-radius: 1.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.companyName {
  font-size: 30px;
  margin: 0;
  margin-bottom: 0.5rem;
}

.title {
  margin: 5px 0;
  font-weight: 600;
  font-size: 20px;
}

.time {
  font-size: 18px;
  margin: 5px 0 2.5px 0;
  font-style: italic;
  opacity: 0.7;
}

.locationTime {
  font-size: 18px;
  margin: 0 0 5px;
}

.description {
  margin: 5px 0;
  font-size: 15px;
  text-align: justify;
  text-align-last: left;
}

.workExperienceContainer {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .workExperienceContainer {
    flex-direction: column;
    margin: 1rem auto;
  }

  .companyImage {
    width: 50%;
    margin-bottom: 1rem;
  }
}
