.centerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contactInfoContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin: 2rem 0;
}

.quote {
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: black;
  font-size: 20px;
  white-space: nowrap;
}

.reference {
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: black;
  font-size: 18px;
  white-space: nowrap;
  margin-top: 20px;
}
