.header {
  text-align: center;
  font-weight: 500;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.line {
  height: 0.2rem;
  width: 8rem;
  background-color: black;
  margin: 0 1rem;
}
