/* contentContainer */
.image {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin: 0 2rem 0rem 2rem;
  border-radius: 1.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 30px;
  margin: 0;
  margin-bottom: 0.5rem;
}

.title {
  margin: 5px 0;
  font-weight: 600;
  font-size: 20px;
}

.time {
  font-size: 18px;
  margin: 5px 0 2.5px 0;
  font-style: italic;
  opacity: 0.7;
}

.locationTime {
  font-size: 18px;
  margin: 0 0 5px;
}

.description {
  margin: 5px 0;
  font-size: 15px;
  text-align: justify;
  text-align-last: left;
}

.contentContainer {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }

  .image {
    width: 50%;
    margin-bottom: 1rem;
  }
}

/* header and subHeader */
.header {
  text-align: center;
  font-weight: 600;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.line {
  height: 0.2rem;
  width: 8rem;
  background-color: black;
  margin: 0 1rem;
}

.subHeader {
  text-align: center;
  font-weight: 500;
}

.subHeaderContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.link {
  text-align: center;
  margin-top: 5px;
}

.linkToGitHub {
  display: block;
  margin-bottom: 5px;
}

.skills {
  font-weight: 600;
}

.skillsColor {
  color: grey;
}
